[2020-10-09 09:47] yannick-peyrotau opened #1 "Check than SXXYY data is included in L0+ level with CS expert. (task4)"

[2020-10-09 09:58] yannick-peyrotau opened #2 "Where AUX_GPS data is used ? Can we ignore it ?"
Dear Bogdana,

concerning Action 2 of yesterday

"Where AUX_GPS data is used ? Can we ignore it ?"

I did not say that this AUX is used, I just said it is listed in S2
documentation.

To be precise, it is listed in section 5.2.3.1 of
S2-PDGS-TAS-DI-BPDP-ICD-IPF v15.

From my 3 years working in S2-MPC, I dont think this AUX exists at all.

Kind regards,

Catherine

[2020-10-09 09:58] yannick-peyrotau commented on #2
Dear Catherine,
Than it is OK to ignore it.
Thanks
Bogdana

[2020-10-09 09:59] #2 closed, assigned to nobody

[2020-10-09 15:21] yannick-peyrotau opened #3 "Document 1 “S2: Use of IDP-SCs to process a DS by splitting into vDS”"

[2020-10-09 15:23] yannick-peyrotau opened #4 "Document 2 “Analysis of the trade-off between storing products and calculating them on the fly for S"

[2020-10-09 15:43] yannick-peyrotau opened #5 "Configuration Baseline V1 (S2)"

[2020-10-09 15:44] yannick-peyrotau opened #6 "List S2 AUX files"

[2020-10-09 15:45] yannick-peyrotau opened #7 "Find all selection rules for S2"

[2020-10-09 15:45] yannick-peyrotau opened #8 "Make the configuration baseline for S2"

[2020-10-09 15:47] yannick-peyrotau opened #9 "Configuration Baseline API (S2)"

[2020-10-12 08:00] yannick-peyrotau opened #10 "Configuration Baseline V2 (S1 S2 S3)"

[2020-10-12 08:16] yannick-peyrotau opened #11 "Configuration Baseline API V2 (S1 S3)"

[2020-10-22 08:05] yannick-peyrotau opened #12 "check completeness of daily AUX data"
Considering the shortcoming time for the Reprocessing Configuration Baseline delivery the check is not a priority. Nevertheless, the scope of this procurement is to prepare a baseline that will be successful during the Reprocessing Operations, for this reason the completeness check is one of the scopes of the procurement.

Could you confirm that for the moment there are no discrepancies detected?

[2020-10-22 14:37] cbouzina commented on #12
What should be ready for 07dec2020 ? the script or the data sets ?

[2020-10-22 14:41] #1 closed, assigned to cbouzina

[2020-10-22 14:42] cbouzina commented on #1
Yes, this was confirmed by Benjamin Esquis one week ago.

[2020-10-22 14:50] yannick-peyrotau commented on #12
Both. The 07dec is the max date I want to send it to Bogdana.

[2020-10-23 13:10] cbouzina opened #13 "S3 MWR AUX files"
The selection rules for the following S3 MWR AUX files:
MW_1_SLC_AX, MW___STD_AX, MW_1_NIR_AX, MW_1_DNB_AX, MW_1_MON_AX
cannot be found in the provided documentation,
but maybe they are not necessary for reprocessing activity ?

[2020-10-23 14:02] cbouzina commented on #13
These AUX files are delivered so this confirms that they exist and can be used for reprocessing activity.
But the associated selection rules are missing from documentation.

[2020-10-27 08:26] cbouzina opened #14 "Inputs missing from S2-MPC"
GIPP SPAMOD: (mail sent to S2-MPC on 15oct2020)

It seems 2 SPAMOD have been replaced by only only one (which is normally impossible).
Maybe the SPAMOD for S2A launch was bad (which is probable).
In such case, the following 2 SPAMOD contents should be identical:
S2A_OPER_GIP_SPAMOD_MPC__20150731T092205_V20150703T000000_21000101T000000_B00
S2A_OPER_GIP_SPAMOD_MPC__20160208T132500_V20150622T000000_2

[2020-10-27 13:11] BogdanaTsonevska commented on #13
Email sent to the Sentinel 3 ESA Technical officer

[2020-10-28 08:13] cbouzina commented on #13
ESA provided the necessary document yesterday. This action is closed.

[2020-10-28 08:13] #13 closed, assigned to BogdanaTsonevska

[2020-10-28 15:36] cbouzina commented on #12
I have added this test with script in the verification plan. I will prepare the scripts, but which language should be used ? Python or Shell ?

[2020-10-28 15:41] yannick-peyrotau commented on #12
You can choose, it is for internal CS needs

[2020-10-29 10:19] BogdanaTsonevska commented on #14
email sent to ESA TO S2-MPC

[2020-10-30 09:49] BogdanaTsonevska opened #15 "Document 2 Analysis the trade-off between storing products and calculating them on the fly"
you expressed as blocking for the Reprocessing the Anomaly on FEE data read and converted from HKTM into L0C.
Could you provide more information. Context, Cause, Description is there anything put in place to revolve it (palietif in french), are there actions ongoing?

[2020-10-30 13:22] cbouzina commented on #15
This is not blocking. This is just indicating that the L0 quality is not yet optimal, so that when this anomaly in IPF will be solved (IPF team knows all the details about it), the L0 data will have to be reprocessed.

[2020-10-30 14:51] BogdanaTsonevska commented on #15
Thanks Catherine

[2020-10-30 14:51] #15 closed, assigned to cbouzina

[2020-11-03 16:06] BogdanaTsonevska opened #16 "orbits"
Dear Catherine,

Orbit data must be the best quality (precise for S1 and S3, restituted for S2) from Copernicus POD service.
=>Could you please confirm that the POD files are going to be considered in the Reprocessing Data Configuration as for the weather files?
From what you find are there any particularity that I should start search information from third parties ( POD services, etc)?
Regards,
B

[2020-11-03 16:07] BogdanaTsonevska opened #17 "LatestValCover for weather files"
In the IPF ICD document, the selection rule for AUX_WND, AUX_WAV, AUX_ICE is “ClosestStartValidity” for Processing, but in order to be sure to use the reanalysis AUX data, the selection rule should be set to “LatestValCover”
=> Confirmed by S1 MPC T.O

[2020-11-03 16:07] #17 closed, assigned to nobody

[2020-11-03 16:08] BogdanaTsonevska commented on #17
OK fromS1 MPC T.O.

[2020-11-03 16:14] BogdanaTsonevska opened #18 "S2 ECMWF"
ECMWF data should come from the same reanalysis version for all the reprocessing coherency (no forecast needed).
=> Email to the Mission Manager how to proceed, because we have only the forecast files in LTA.
ECMWF are mandatory for L-2. ESA will decide btw CASE 1 to take the forecast files or CASE 2 to deliver the reanalysis from ECMWF in 10 days. The deadline will be not before Jan 2021, in orde

[2020-11-04 10:10] cbouzina commented on #16
Yes, I confirm. All OK. No foreseen problem at the moment.

[2020-11-04 12:03] BogdanaTsonevska opened #19 "S3 missing files"
Dear Catherine S3A_SR___CHDRAX_20160216T000000_20991231T235959_20200312T120000___________________MPC_O_AL_006.SEN3 is missing ?
S3B_SR___CHDRAX_20180425T000000_20991231T235959_20200312T120000___________________MPC_O_AL_005.SEN3 is missing ?
Could you please tell me if they are missing from the LTA or from the list provided by the PDGS, so I can contact the S3 ESA TO ?
Regards
Bogdana

[2020-11-04 15:32] yannick-peyrotau opened #20 "How much time CS have when IPF update appear to update auxip catalog ?"

[2020-11-04 15:46] cbouzina commented on #19
They are missing from the list in lta-STM.txt

[2020-11-04 15:48] cbouzina commented on #12
S1 and S2 scripts are ready to be tested.

[2020-11-10 13:24] BogdanaTsonevska commented on #19
email sent to ESA T.O.

[2020-11-10 13:27] BogdanaTsonevska opened #21 "S1 ORBSCT and OBMEMC"
Dear Catherine,

This two files are used by the PDGS:

18 | ORBSCT | Mission Planning | Orbit | Reference Orbit   Scenario file | TBD | TBD | yes | TBD
19 | OBMEMC | Mission Planning | Orbit | On-Board Memory   Configuration Update | TBD | TBD | yes | TBD

do you have them? shall I ask my colleagues to obtain them?
Regards,
Bogdana

[2020-11-11 13:20] BogdanaTsonevska commented on #21
Checked with MPC S1, no need for this files as we reprocess from L0

[2020-11-11 13:20] #21 closed, assigned to nobody

[2020-11-17 09:30] cbouzina opened #22 "S3 aux selection rules"
The selection rule for the following AUX types is not found in documentation:

SL_2_SXPAAX, SL_2_PLFMAX, SL_2_FXPAAX, SL_2_CFM_AX, SL_2_PCPAAX, SL_2_PCPFAX
SL_1_PCPBAX
SL_1_PLTBAX
OL_2_PCPBAX
OL_2_PLTBAX
SL_2_PCPBAX
SL_2_PLTBAX
OL_1_PCPBAX
OL_1_PLTBAX
SY_2_PCPBAX
SY_2_PLTBAX
SY_2_CVPBAX
SY_2_PVPBAX
SY_2_CVSBAX
SY_2_PVSBAX

[2020-11-17 12:15] BogdanaTsonevska commented on #22
email sent to ESA S3 TO

[2020-11-18 13:50] BogdanaTsonevska opened #23 "S1 Some AUXIP PP1 CAL INS missing"
Dear Catherine,
S1 Some AUXIP PP1 CAL INS missing
 Karen Cordier send us very complete email on S1 aux.  Did you check if the files that we mist are available as she said and did you consider them ?

[2020-11-19 08:57] cbouzina commented on #22
SL_1_PCPBAX
SL_1_PLTBAX
OL_2_PCPBAX
OL_2_PLTBAX
SL_2_PCPBAX
SL_2_PLTBAX
OL_1_PCPBAX
OL_1_PLTBAX
SY_2_PCPBAX
SY_2_PLTBAX
SY_2_CVPBAX
SY_2_PVPBAX
SY_2_CVSBAX
SY_2_PVSBAX
are AUX types for the Browser Products generation. They are out of scope (mail from ESA on 18nov2020).

[2020-11-20 15:30] cbouzina commented on #23
Full baseline table for S1 IPF 03.31 sent to ESA today. Comments or corrections are welcome.

[2020-11-23 15:50] BenEsquis opened #24 "API Specification V1"

[2020-11-23 15:50] BenEsquis opened #25 "Odata microService V1"

[2020-11-23 15:50] BenEsquis opened #26 "InfrastructureForReproBaseline V1"

[2020-11-30 13:47] cbouzina commented on #7
No selection rule found for S2.

[2020-11-30 13:47] #7 closed, assigned to nobody

[2020-11-30 13:55] cbouzina commented on #14
The mail from S2MPC on 24nov2020 replied to all points except the last one.
The last point concerns the R2ABCA and R2EQOG GIPP files, for which the file names should be corrected.

[2020-11-30 16:03] cbouzina commented on #23
Mail from S1-MPC on 26nov2020:

S1B ICID 1 was active at the beginning of the mission.
In May 2019 a test was made with a new instrument configuration ICID 2 during two weeks.
At the end of the testing period, the instrument configuration was rolled back to ICID 1.
20190528T084300 is the date identifying the end of usage of ICID 2.
It is aligned on the SAR instrument stop time provided by Sentinel

[2020-12-02 09:24] cbouzina commented on #22
The selection rule for the following S3 AUX types is still missing:
SL_2_SXPAAX, SL_2_PLFMAX, SL_2_FXPAAX, SL_2_CFM_AX, SL_2_PCPAAX, SL_2_PCPFAX

[2020-12-02 09:36] #23 closed, assigned to cbouzina

[2020-12-08 12:53] cbouzina commented on #22
S3MPC.ACR.FRP.005 - i1r1 - SLSTR L2 Interface Control Document, provided on 02dec2020 by ESA, gives the missing selection rules, except for SL_2_PCPAAX. However, this aux type seems to be for NRT mode only. TBC

[2020-12-08 16:16] yannick-peyrotau opened #27 "Question on the key for the "Attribute" in the auxip odata interface"
The key for the "Attribute" in the auxip odata interface is the 'Name', however since it is a collection each attribute should have a unique identifier. How do you plain to have multiple products having the same attribute names ? As it is it will not work.
For example if you have two products A1 and A2 having both an attribute "platformShortName" then they will both share the same attribute since

[2020-12-08 16:22] BenEsquis opened #28 "AuXip ICD cannot have multiple attributes with the same name on multiple products"
The key for the "Attribute" in the auxip odata interface is the 'Name',
however since it is a collection each attribute should have a unique identifier different for each product.

 How do we have multiple products having the same attribute names ?
As it is it will not work.
For example if you have two products A1 and A2 having both an attribute "platformShortName" then they will both share the sa

[2020-12-08 16:53] #27 closed, assigned to BogdanaTsonevska

[2020-12-09 08:32] BogdanaTsonevska commented on #27
the attributes are expressed as an array. I will send you in a mail an example .

[2020-12-09 08:54] BenEsquis commented on #27
Dear Bogdana,

Then there is an issue as the Attributes can not be NavigationProperty but simply properties.
NavigationProperties can't have twice the same key among all products.

I'll show you the issue in an example. But I think it is just the APPENDIX A ODATA METADATA DESCRIPTION that is not correct.

According to the example you provided I will make a new version on my side and submit it to y

[2020-12-09 09:05] BogdanaTsonevska commented on #27
Thanks, I will transfer you email to my colleague.
Regards,
Bogdana

From:   "BenEsquis" <notifications@github.com>
To:     "reprocessing-reference/preparation"
<preparation@noreply.github.com>
Cc:     "BogdanaTsonevska" <bogdana.tsonevska@esa.int>, "Assign"
<assign@noreply.github.com>
Date:   09/12/2020 09:55
Subject:        Re: [reprocessing-reference/preparation] Question on the
key for the "At

[2020-12-09 09:26] BogdanaTsonevska commented on #27
In dead it shouldn't be a navigation property, just a property

From:   Bogdana Tsonevska/esrin/ESA
To:     "reprocessing-reference/preparation"
<reply@reply.github.com>
Cc:     "Assign" <assign@noreply.github.com>,
"reprocessing-reference/preparation" <preparation@noreply.github.com>
Date:   09/12/2020 10:05
Subject:        Re: [reprocessing-reference/preparation] Question on the
key for the "Att

[2020-12-09 09:32] cbouzina commented on #19
SL_2_F2N_AX files are missing, but the documentation says that the IPF does not use them until now.
This is confirmed by ESA so they are put out of scope.

[2020-12-14 10:46] cbouzina commented on #22
Confirmed by ESA: SL_2_PCPAAX is for NRT mode only, so it is out of scope.

[2020-12-14 10:46] #22 closed, assigned to BogdanaTsonevska

[2020-12-16 11:53] #28 closed, assigned to BogdanaTsonevska

[2020-12-16 11:54] BenEsquis opened #29 "Baseline Tag for S3 in reprocessing baseline API"
The table in the user manual has several possiblity for the baseline tag.

What do we have to put in the API ?

Regards

![Image collée à 2020-12-16 10-41.png](https://images.zenhubusercontent.com/5f8021dc20042c34dcd49bca/93bf9188-d8d1-4457-b000-e9246e1107d9)

[2020-12-16 11:57] BogdanaTsonevska commented on #29
Both because they are for two satellites  A and B.
thanks

[2020-12-16 13:13] BogdanaTsonevska opened #30 "Postman Tests NOK"
No Test = >  no results, just body provided. could you please check

[2020-12-17 13:07] BenEsquis commented on #29
I don't understand:

Do we put '06.19' or 'S3A-2.69 & S3B-1.45'

Regards

[2020-12-17 13:24] BogdanaTsonevska commented on #29
In the previous we had just IPF version 06.19, for S3 in addition we have the configuration S3A-2.69 & S3B-1.45.
May be if we put baseline in the past we should rename it in IPF version to avoid confusion.
Could we have both IPF version and Baseline for S3?

[2020-12-17 13:26] BenEsquis opened #31 "Particular cases in SensingApplication computation"
For most of the file type the creation_date, validity_start and validity_stop are correctly filled.
However for some file_types these are completely false, thus the computation of the sensingApplicability is incorrect.

Before computing a filter is done to remove doublons :
If files have the same validity_start/validity_stop then we keep only the most recently generated

SX_XXXX_XXXXX_XXXXX_201912

[2020-12-17 13:49] BogdanaTsonevska commented on #31
Email sent to S1 MPC for clarification.

[2020-12-21 09:19] BenEsquis commented on #29
Normally a baseline version is directly linked to an IPF version so the information might seems duplicated.

We can have both IPF Version and baseline in the API if you want.

[2020-12-21 10:58] BogdanaTsonevska commented on #29
I prefer to keep them both. Thank you.

[2020-12-21 11:11] BogdanaTsonevska opened #32 "Reprocessing Configuration Baseline API ODataFunction"
Today the query
GetReproBaselineListForPeriod
 gives the detailled information such as Sensing Time IPF etc.There is a need for additional simple query that provides just the names of the files that should be provided : ex: S1A_AUX_INS_V20171017T080000_G20180313T104658 etc

[2020-12-21 13:23] cbouzina commented on #31
From bogdana.tsonevska@esa.int on 17dec2020:
For the Error Matrices (S1 ERRMAT), the selection rule is ClosestStopValidity as their validity start dates are identical.
Concerning the ClosestStopValidity rule:
The ERRMAT file to use is the one whose validity stop date is the closest from the middle of the considered acquisition.
This validity stop date can be before or after the acquisition.
If two

[2021-01-08 14:16] BenEsquis opened #33 "Polymorphism in Attributes for AUXIP"
Dear,

We currently have an issue on the polymorphism on attributes in the AUXIP interface.
At this time we can't have:

"Attributes": [
                {
                    "@odata.type": "#OData.CSC.StringAttribute",
                    "Name": "datastripId",
                    "ValueType": "String",
                    "Value": "S2B_OPER_MSI_L0__DS_EPAE_20201007T110039_S20201007T083226_N02.09

[2021-01-08 14:20] BogdanaTsonevska commented on #33
email sent to the AUXIP ICD Technical Authority for approval

[2021-01-11 08:36] BenEsquis opened #34 "RMO files have the same ValidityStart and ValidityStop"
Dear,

After running our completion script we found out that the RMO files have the the ValidityStart and validityStop, hence making them valid only for this particular date and hour.
Our script then doesn't understand and emit a lot of rule violations.
for example:
S3__SR_2_RMO_AX_20160420T120000_20160420T120000_20160510T234740___________________CNE_O_NT_001.SEN3.zip : Start 20160420T120000 Stop

[2021-01-11 08:38] BogdanaTsonevska commented on #34
email send to S3 T.O.

[2021-01-11 08:41] BogdanaTsonevska commented on #34
Could you tell me if the average start time of the next file is more or is less than 12h?
Regards,
Bogdana

[2021-01-11 08:53] BenEsquis commented on #34
It seems to be 6 hours between each files

[2021-01-11 08:55] cbouzina commented on #34
Yes, there is one file at 00:00, 06:00, 12:00 and 18:00

[2021-01-11 09:44] BogdanaTsonevska commented on #33
Dear all,

I need to ask you to be compliant with the ICD. Not obligatory for the delivery of V0.1 foreseen on 15/01. We should see what this changes apply in terms of schedule and if it is OK for the delivery of V1.
Regards,
Bogdana

----- Forwarded by Bogdana Tsonevska/esrin/ESA on 11/01/2021 10:39 -----

From:	Razvan Cosac/esrin/ESA
To:	Bogdana Tsonevska/esrin/ESA@ESA
Date:	11/01/2021 09:49
Sub

[2021-01-12 09:49] #31 closed, assigned to BogdanaTsonevska

[2021-01-12 10:54] BenEsquis commented on #34
Dear,

The correction done is to put a -6h and +6h on the ValidStart/ValidStop and compute the SensingApplicability based on this change.

The completion test does report some gap but only 2.

[2021-01-12 10:58] BenEsquis opened #35 "SR_2_POL have all the ValidityStart to 19870101T000000"
Dear,

SR_2_POL have all the ValidityStart to 19870101T000000 thus the computation of the SensingApplicability can not be done as for the other type.

I suggest as a first approach to compute it on the same way as for the ERRMAT type ?

Regards

[2021-01-12 11:34] BenEsquis commented on #35
Also catherine told me that this file is incremental thus the last contains the informations from the first adn so on.

Is it possible then to put only the last one and make it valid for the whole satellite period ?

Regards

[2021-01-12 12:34] BenEsquis opened #36 "SR_1_USO_AX files have strange naming conventions"
Dear,

It seems that that the USO files have strange naming convention. it seems that they inverted the ValidityStart with the CreationDate.

S3A_SR_1_USO_AX_20160223T195017_20160326T021738_20160326T084738___________________CNE_O_AL_001.SEN3.zip
S3A_SR_1_USO_AX_20160223T195017_20160327T015126_20160327T084649___________________CNE_O_AL_001.SEN3.zip
S3A_SR_1_USO_AX_20160223T195017_20160328T012505_20

[2021-01-12 13:20] BogdanaTsonevska commented on #36
Email sent to S3 T.O,

[2021-01-12 13:31] BogdanaTsonevska commented on #31
Before computing a filter is done to remove doublons :
If files have the same validity_start/validity_stop then we keep only the most recently generated

SX_XXXX_XXXXX_XXXXX_20191231T184206_V20191231T145108_20191231T180838.EOF
SX_XXXX_XXXXX_XXXXX_20191231T185423_V20191231T145108_20191231T180838.EOF
SX_XXXX_XXXXX_XXXXX_20191231T200457_V20191231T145108_20191231T180838.EOF --> only this one is kept

[2021-01-12 14:27] #30 closed, assigned to nobody

[2021-01-19 13:15] BogdanaTsonevska commented on #36
Email from S3 MPC send on 14/01/2021.

[2021-01-19 13:15] BogdanaTsonevska commented on #35
Email from S3 MPC send on 14/01/2021.

[2021-01-26 10:13] cbouzina commented on #16
There is no S2 restituted orbit RESORB_OPOD files in the data base.

[2021-01-26 10:25] BogdanaTsonevska commented on #16
For my understanding  RESORB data are not needed for the the reprocessing, could you confirm?

[2021-01-26 11:51] cbouzina commented on #16
I confirm the opposite : RESORB_OPOD is mandatory for S2 reprocessing :-) as written in the User Manual.

[2021-01-26 13:22] BogdanaTsonevska commented on #16
OK, email send to S2 T.O. in order to verify how to obtain them.

[2021-01-26 14:42] BogdanaTsonevska commented on #16
From:	"Olivier Colin" <Olivier.Colin@esa.int>
To:	"Bogdana Tsonevska" <bogdana.tsonevska@esa.int>
Cc:	"Roberto De Bonis" <Roberto.De.Bonis@esa.int>
Date:	26/01/2021 15:31
Subject:	Re: [reprocessing-reference/preparation] orbits (#16)

btw, these POD orbits have never ever been used in the processing to date, not even to test/validate what would come out in terms of geometric quality.
The use of PO

[2021-01-27 08:54] cbouzina commented on #16
OK, but I think Valentina Boccia or Ferran Gascon should decide on this, because it regards the quality of the reprocessed products.

[2021-01-27 08:59] BogdanaTsonevska commented on #16
Could you please proved me with the technical justification why the quality of the products are improved if the POD orbits are used?

[2021-01-28 10:01] BogdanaTsonevska opened #37 "Missing S1 ICE, WND, WAV"
Could I ask you to download from the Openhub the level 2 corresponding to the period for which the S1__AUX_ICE,S1__AUX_WND, S1__AUX_WAV are missing. The L2 contain the aux files that were used for the generation. Afterwards check if the generated products were in reality generated with the auxiliary products that we think should be used or if there were generated with other aux files.
Thank you .

[2021-02-01 13:56] cbouzina commented on #16
This is largely justified in the very complete information provided in
https://sentinels.copernicus.eu/web/sentinel/technical-guides/sentinel-2-msi/pod
If it was not justified, Copernicus would not pay for such service.

However, I did as you wish: Sentinel-2 POD orbits are now out of scope for this activity.

[2021-02-01 14:08] cbouzina commented on #14
New question for S2-MPC:
In the DB is found S2A_OPER_GIP_R2SWIR_MPC__20160118T123902_V20151125T000000_21000101T000000_B00.TGZ
This GIPP is not referenced anywhere.
Can you confirm that this GIPP should be used in reprocessing please ?

[2021-02-05 09:42] cbouzina commented on #37
There is no S1 L2 products of 2014 available on the Copernicus Hub.
The following 4 OCN products have been selected during gaps in AUX files continuity.

For S1A_WV_OCN__2SSV_20150215T131327_20150215T131330:
            <safe:resource name="S1__AUX_WND_V20150215T030000_G20150215T063112.SAFE" role="AUX_WND"/>
            <safe:resource name="S1__AUX_ICE_V20150212T120000_G20150213T042713.SAFE" role=

[2021-02-05 10:23] BogdanaTsonevska commented on #16
Thank you for the provided information. Nevertheless, this information doesn't show that the files were used in the past for the Reprocessing or processing activities. To use these files as you suggested in K.O. means to introduce unnecessary risk for the Reprocessing activities such as non-compatibility, non-conformance etc. ESA GS operations decision is not to use them because the files were mea

[2021-02-05 10:26] BogdanaTsonevska commented on #14
email send to S2 MPC T.O on 1/02. Today I propose to contact directly the MPC with the T.O. To gain some time could you please ask the MPC directly as they are CS Group?

[2021-02-05 10:35] cbouzina commented on #14
That is why I had assigned Yannick ;-)

[2021-02-12 11:13] cbouzina commented on #14
Reply from S2-MPC today:   This R2SWIR GIPP should be used.

[2021-02-16 08:39] #12 closed, assigned to cbouzina

[2021-02-16 08:44] yannick-peyrotau commented on #14
Reply from S2-MPC the 12/02 : This R2SWIR GIPP should be used.

[2021-03-09 13:50] BogdanaTsonevska commented on #37
There is no possibility to obtain the auxiliary; the Reprocessing Data Configuration will select the files as it was done in the past considering the selection rules. This should be included like an explanation even at the  S1 Configuration Baseline UM.

[2021-03-09 13:57] BogdanaTsonevska opened #38 "SSO"
ESA will provide the request and CS will handle the account management

[2021-03-09 13:57] #38 closed, assigned to nobody

[2021-03-09 13:57] BogdanaTsonevska opened #39 "copernicus.eu to be done"
NAS to be returned to CLS Deadline 23/03. Adress in MoM N17.

[2021-03-09 14:01] BogdanaTsonevska opened #40 "July until December 2020 update"
The S3 are uploaded on the https://auxiliary.esa.int/minio/login. To be taken into account
The S2 were provided by email the ECMWF will be provided at latest Q2 2021

[2021-03-09 14:02] BogdanaTsonevska opened #41 "CCN HMI"
ESA submited the Sepcification. CS will respond. Deadline 16/02/2021(?)

[2021-03-09 14:06] BogdanaTsonevska opened #42 "S1 ICID"
The ICID shall be considered in the Reprocessing Configuration Database.
The User Manual shall explain that.

[2021-03-09 14:07] BogdanaTsonevska opened #43 "S3 IPF updates"
S3 IPF will be updated in April. CS will take them into account in May.
Next delivery is in December. CS will take them into account in Janualry 2022.

[2021-03-10 09:03] cbouzina commented on #37
Here is my conclusion/explanation to be included in the User Manual:
The precise orbit ADF (AUX_POEORB) are not available for the commissioning phases of S1A (april-september 2014) and S1B (april-september 2016).
Also, many AUX_WND, AUX_WAV, AUX_ICE files are missing for 2014, so no reprocessing action is possible for 2014.
A few AUX_WND, AUX_WAV, AUX_ICE files are missing in 2015 and 2016, but th

[2021-03-10 09:07] BogdanaTsonevska commented on #37
Perfect, maybe to say: "no reprocessing action is possible for the commissioning phase for 2014. "
Thank you.

[2021-03-11 11:23] BenEsquis opened #44 "AUXIP Catalog export access"
Dear,

About the Catalog snapshots described in the AUXIP ICD 3.3.3,

There is no specification on how these archives are accessed, is this an FTP ? on the S3 ?

Also when the file has not changed, we suggest not to redo it but to give the link to the lastUpdated json.

Regards

[2021-03-11 11:28] BogdanaTsonevska commented on #44
emil sent to AUXIP ICD creator.

[2021-03-11 17:09] BenEsquis opened #45 "Catalogue Export Naming Attributes issue"
Dear,

In 3.3.3 Catalogue export of the AUXIP ICD it is written

Were do we find these informations from an AUXIP Product, knowing that the AUXIP elements are all generics with only few attributes to describe them.

Regards.

[2021-03-12 08:46] BogdanaTsonevska commented on #45
Dear all,
The only way to deal with this issue is to assign the providers manually (I imagine that it is easier) to the All_Aux table.
This information is available in Sentinel-1,2,3 Product Unit Definition and Metadata ICD.
ADG is ECMWF, etc (everything except POD and CAL&Val (MPC)).
Sentinel-2 Product Unit Definition and Metadata ICD: has a typo the  AUX_PREORB and AUX_RESORB are POD and not CAL

[2021-03-12 08:56] BogdanaTsonevska commented on #44
Dear Bogdana,

I may be missing some context, but I will try to answer.

Regarding how these are accessed, it is true that it is not specified, and we will provide this clarification in the next update. It should be through a simple HTTP file interface with the same authentication as the AUXIP.

I think the last updated JSON is fine when the file has not changed, rather than recreating the file.

[2021-03-12 11:07] BenEsquis commented on #44
Dear,

Do we need to keep all the snapshot of each days or do we only keep the last one generated ?

Also if we keep all the snapshots we will need to put a maximum number of snapshots in order not to overflow the storage.

Regards

[2021-03-12 13:13] BenEsquis commented on #45
Dear,

For S2 the table in the ICD seems ok.
However there is no "DataProvider" in the S1 ICD pdf document and in S3 there are various provider that doesn't seems to correspond to the one needed.

![image.png](https://images.zenhubusercontent.com/5f8021dc20042c34dcd49bca/b8f2091e-92f2-46e7-b87b-7a8705edc210)

Regards

[2021-03-12 13:46] BenEsquis opened #46 "AUXIP Metrics clarification"
Dear,

In 5.1.2Auxiliary DataDeliveryInterface PointsMetrics many metrics are requested.

What is the list of <productType> needed to be listed ? Is it the list of aux type in ALL_Aux.xlsx ?
What is the meaning of platformSerialIdentifier ? Is this A/B ?

Regards

[2021-03-12 17:43] BogdanaTsonevska commented on #46
Dear Benjamin,

those metrics  are for the monitoring, that means number of product published, the volume of the files. You don't have this information in the All_Aux it is what is currently published on AUXIP. May be you can come to the weekly meeting so I can try to explain better if I am not clear.

platformSerialIdentifier is A/B ?

[2021-03-15 08:44] BogdanaTsonevska commented on #45
Hi,
All the auxiliary that are not Cal (MPC) or POD should be tagged ADG.
Regards,
Bogdana

[2021-03-16 11:49] BogdanaTsonevska opened #47 "Missing Aux files for S3 compliteness tests"
Dear Catherine,
Could you please check for this sensing time if we have on DataHub the products related to the two missing files and see which auxiliaries were used to generate those files?
Thank you in advance
S3__SR_2_RMO_AX_20160330T180000_20160330T180000_20160420T114742
S3A_SR___POEPAX_20170115T215942_20170116T235942_20170210T071647

Thank you in advance for your help
Regards,
Bogdana

[2021-03-16 11:59] BogdanaTsonevska commented on #44
Dear,
Could we keep 1 month of snapshots? All the snapshots should be stored on the cloud once evited.
Regards,
Bogdana

[2021-03-16 12:04] BogdanaTsonevska opened #48 "Connection on S2 PRIP"
Are you connected to the PRIP because we have a rolling archive for just one month, this means that if we have a delay on this we will miss files.

[2021-03-16 14:51] #35 closed, assigned to BogdanaTsonevska

[2021-03-16 14:55] #36 closed, assigned to BenEsquis, BogdanaTsonevska

[2021-03-16 14:56] #34 closed, assigned to BogdanaTsonevska

[2021-03-16 14:56] #33 closed, assigned to BenEsquis, BogdanaTsonevska

[2021-03-16 14:57] #32 closed, assigned to nobody

[2021-03-16 14:59] #18 closed, assigned to nobody

[2021-03-16 15:01] #5 closed, assigned to Mandarancio, BenEsquis

[2021-03-16 15:03] #9 closed, assigned to BenEsquis

[2021-03-16 15:03] #10 closed, assigned to nobody

[2021-03-16 15:03] #11 closed, assigned to nobody

[2021-03-16 15:03] #3 closed, assigned to nobody

[2021-03-16 15:04] #4 closed, assigned to BenEsquis

[2021-03-16 15:04] BogdanaTsonevska commented on #43
In the Case of S2, is it possible to take into account a new baseline in min 2 weeks ?

[2021-03-16 15:04] #6 closed, assigned to nobody

[2021-03-16 15:04] #8 closed, assigned to nobody

[2021-03-16 15:37] cbouzina commented on #47
OK, I will do that next week because I am following a Python course this week.

[2021-03-16 16:31] nmeskini opened #49 "Odata attributes extraction : no software name/version found in manifest files of .SAFE S1 aux files."
Hi Bogdana ,

I came across an issue while extracting Odata attributes, it's concern auxiliary S1 data files  the ".SAFE" ones ,  it's expected that one could be able to extract 'ProcessorName' and 'ProcessorVersion' tags from the manifest file (in safe:processing/safe:software corresponding tag ) as explained in the document "Sentinel-1 Product Attributes Mapping_v1.3.xlsx",  But in all .SAFE fil

[2021-03-17 07:14] BenEsquis commented on #45
Dear Bogdana,

Did you find the meaning of MPMF in the S3 ICD file ?

Is it MPC ?

Regards

[2021-03-17 08:44] cbouzina commented on #45
MPMF = Mission Performance Monitoring Facility (it generates several reports and plots for QC)

[2021-03-17 10:34] BogdanaTsonevska commented on #45
It is confirmed the MPMF is MPC.

[2021-03-19 08:56] nmeskini opened #50 "ParallelDownloadsQuota : Maximum number of separate downloads which can be performed in Parallel"
Hi Bogdana,

We need clarification about how to deal with auxip service downloads quotas, especially for “ParallelDownloadsQuota”( Maximum number of separate downloads which can be performed in Parallel )
The problem is that for each $value request sent by client to download a product, a storage cloud link is generated and sent to the client and the download occurs actually in the cloud side out o

[2021-03-19 10:29] BogdanaTsonevska commented on #50
Dear Naceur,
I agree to use the cloud links for the count on the parallel downloads. Please put a Note in the AUXIP ICD about this topic or if you think it is more suitable just in the AUXIP Compliance Report.
Regards,
Bogdana

[2021-03-22 13:56] cbouzina commented on #42
Please, provide the official explicative text for the Sentinel-1 ICID.
(No explanation is found on https://qc.sentinel1.copernicus.eu/)

[2021-03-23 08:08] nmeskini opened #51 "Download Quotas : TotalDownloadsQuota & ParallelDownloadsQuota"
Hi Bogdana,

We need clarification about “Download Quotas”
- TotalDownloadsQuota: ( Maximum volume (GB) transfer within a defined period )
•	Is this threshold (quota) client dependent or it is applicable to all clients?
•	What is the value of this quota?
•	What is the time duration (period) to be considered?
- ParallelDownloadsQuota: (Maximum number of separate downloads which can be performed in

[2021-03-23 08:46] cbouzina commented on #47
Considered gap: S3__SR_2_RMO_AX_20160324T180000_20160324T180000_20160414T114751___________________CNE_O_NT_001.SEN3.zip - S3__SR_2_RMO_AX_20160330T180000_20160330T180000_20160420T114742___________________CNE_O_NT_001.SEN3.zip : 2016-03-25T00:00 - 2016-03-30T12:00 not covered
Downloaded product on SciHub : S3A_SR_2_LAN____20160327T004524_20160327T013128_20180518T223435_2764_002_202______LR1_R_NT_00

[2021-03-23 10:50] cbouzina commented on #43
I think 3 weeks is more realistic, as we will have to update all documentation and rerun the tests.
I would prefer to redeliver all the current baselines with the last corrections,
before going into the new IPF versions.

[2021-03-23 12:43] BogdanaTsonevska commented on #47
Shall we mentioned this in the UM?

[2021-03-23 13:27] cbouzina commented on #47
Last time, we decided to provide the list of missing ADF as a separate page.
But I can add it as annex to the User Manual.

[2021-03-23 13:29] cbouzina commented on #47
Note that the RMO files exist somewhere as they have been used in production, but where ???

[2021-03-24 10:19] nmeskini opened #52 "Subscriptions and Roles"
Hi Bogdana,

I am wondering which role should have a client to be able to create / manage Subscriptions ?

Best Regards,

Naceur MESKINI

[2021-03-29 10:01] cbouzina commented on #42
As no official definition of the ICID and its use is available, the mail from S1-MPC is used for basic explanation in the User Manual.

[2021-03-29 10:02] #42 closed, assigned to BogdanaTsonevska

[2021-03-29 10:03] #16 closed, assigned to cbouzina

[2021-03-31 13:59] #37 closed, assigned to nobody

[2021-03-31 14:49] cbouzina commented on #19
Dear Bogdana,
usually a new version of SR___CHDNAX is always issued with a new version of SR___CHDRAX, but for the last version only the CHDNAX are available, so could you confirm that
S3A_SR___CHDRAX_20160216T000000_20991231T235959_20200312T120000___________________MPC_O_AL_006.SEN3
S3B_SR___CHDRAX_20180425T000000_20991231T235959_20200312T120000___________________MPC_O_AL_005.SEN3
are not necessa

[2021-04-02 09:12] BogdanaTsonevska commented on #19
email send to ESA T.O.
OK for the delivery for next week.

[2021-04-02 12:14] BogdanaTsonevska commented on #47
I asked for redelivery because S3  T.O.  told me that now a lot of these files are transferred from PDGS to the LTA.

[2021-04-02 12:40] yannick-peyrotau commented on #47
@BogdanaTsonevska S2 ? this ticket is about S3 right ?

[2021-04-02 13:01] BogdanaTsonevska commented on #51
Dear Naceur,
I would need your assessment for these questions. My needs are two :
1/what satisfies the auxiliary for processing:
-the download capacity 5Gbps, each auxiliary data items may be downloaded up to 10times. (ParallelDownloadsQuota). In total, we have around 7TB traffic per year.

2/ what satisfies the reprocessing :
-There is not parallel downloads for the same data. There are minimum 5

[2021-04-02 13:02] BogdanaTsonevska commented on #47
Sorry, yes S3

[2021-04-26 13:36] BogdanaTsonevska commented on #52
Dear Nacuer,
I discovered just now the topic.  I don't think that client should be able to manage Subscriptions. Yannick told me that the subscription is open for the moment, may be there should be some kind of validation fromo you in the future.
Bogdana

[2021-04-26 13:39] BogdanaTsonevska commented on #42
There is a misunderstanding I read in the User Manual :
This old configuration back into operation is not possible for the system. One solution could be to create new ADF with corresponding 2019 validity start: this is recommended in the S1 PDGS for the sake of consistency and clarity. For now, a trick is implemented in the system to support this anomaly: the concerned ADF are referenced twice, wi

[2021-04-26 15:25] yannick-peyrotau commented on #52
Hi Bogdana,

No problem.
It is just a configuration to change the registration "procedure".
We are able to add a manual validation when it will be needed.

Regards,
Yannick Peyrotau

[2021-04-28 14:05] cbouzina opened #53 "S2 CAMS data"
I read the new documentation for future ECMWF and CAMS data.
If I understood well our meeting discussion yesterday, only CAMS analysis data should be considered in our context:
AUX_CAMSAN (AUX_CAMSFO and AUX_CAMSRE are out of scope).
The selection rule for ECMWF data is LatestValCover. Should we use the same for CAMS data ?

[2021-04-29 09:45] cbouzina commented on #53
From:        "Olivier Colin" <Olivier.Colin@esa.int>
To:        "Bogdana Tsonevska" <bogdana.tsonevska@esa.int>
Cc:        "Fernando Moccia" <Fernando.Moccia@esa.int>
Date:        16-04-21 11:10 AM
Subject:        Fwd: ESA-EOPG-EOPGC-TN-42 delivery

Salut Bogdana

I wanted to point out that Fernando's doc is also relevant to CS’s activity with Catherine Bouzinac for the repro preparation.
It descr

[2021-04-29 09:47] cbouzina commented on #53
From Olivier's mail above, I correct my first comment:
only CAMS analysis and reanalysis data should be considered in our context:
AUX_CAMSAN and AUX_CAMSRE (AUX_CAMSFO are out of scope).
The selection rule for ECMWF data is LatestValCover. Should we use the same for CAMS data ?

[2021-05-01 07:47] BogdanaTsonevska commented on #53
email sent to Olivier

[2021-05-11 08:44] BogdanaTsonevska opened #54 "Coherance test"
•	A S2 and S1 tests to know how many files are there in the API concerning the MPC files.  Deadline June.

[2021-05-11 08:45] BogdanaTsonevska opened #55 "New GIPP"
•	New files delivery for S2 (GIPPs more info in Valentina’s excel file) = >3 weeks (June TBC)

[2021-05-12 09:18] nmeskini opened #56 "Make all reprocessing preparation package services ( task 1,2 and 3) share the same users database ?"
Hi Bogdana,

We are wondering if we can make all services of the Reprocessing Preparation Package ( Reprocessing Configuration Baseline, Auxip, Reprocessing Data Baseline )  sharing the same users database,in fact, this would allow clients to avoid creating several accounts and also it would facilitate the implementation of the task 3 since it uses tasks 1 and 2.
By sharing the same users database

[2021-05-18 08:59] nmeskini opened #57 "Selection rules of the TASK3 and time interval [t0 – Δ0 , t1 + Δ1]"
Hi Bogdana,

To be able to apply selection rules of the TASK3 , some parameters defining the selection time interval [t0 – Δ0 , t1 + Δ1] are needed.
where :
t0 and t1 are the values set into the “Start” and “Stop” validity tags
Δ0 and Δ1 are the values set into the T0, T1 tags of the Task Table

We suppose that t0 and t1 can be retrieved from the L0 product name, however we don't know how to get Δ

[2021-05-19 10:59] BogdanaTsonevska commented on #57
Hi,
I will provide you the TT  for S3 (I asked permission again) or I will give you a table with the T0 and T1. Do you have the same issue with S1 and S2, are they 0?
Regards,
Bogdana

[2021-05-20 15:39] nmeskini opened #58 "We face an issue with S2 Level 0 products. validity stop date t1 is missing !"
Hi Bogdana,

Names of S2 L0 products contains only the validity start date t0, and the creation date,
So without the validity stop date  we won't be able to apply the selection rules , especially the
LatestValCover rule needed for many S2 auxiliary data files.

Regards,

Naceur MESKINI.

[2021-05-27 12:39] cbouzina commented on #57
Information from ESRIN yesterday :
For Sentinel-3, the default values for Δ0 and Δ1 come from the current Task Tables, but they can be modified by the user or in case of new TT version.

[2021-06-01 09:14] BogdanaTsonevska commented on #53
Dear Bogdana,
We have analysed the selection rules for the CAMS file and the following selection rule shall be applied in the following order:
- LatestValCover
- in case both Re-analysis and analysis file are available only one type shall be selected with the following priority: 1 Re-analysis, 2 Analysis

Regards,

Fernando

[2021-06-03 12:53] cbouzina commented on #47
For the following missing ADF:
S3B_OL_1_CAL_AX_20180425T000000_20180617T235959_20180621T120000___________________MPC_O_AL_002.SEN3
S3B_OL_1_EO__AX_20180425T000000_20180617T235959_20180621T120000___________________MPC_O_AL_002.SEN3
S3B_OL_1_INS_AX_20180425T000000_20180617T235959_20180621T120000___________________MPC_O_AL_002.SEN3
I am trying to download a S3B OLCI L1 product of 17 june 2018.
My req

[2021-06-04 07:51] cbouzina commented on #47
I managed to download 3 S3B OLCI L1 products of 17 june 2018 from DHUS.
Each product zip file contains only one nc file and this nc file seems corrupted.

[2021-06-04 08:57] BogdanaTsonevska commented on #47
Thank you, could you please explain that these products could not be re-processed due to anomaly.
I will try to speak to Jordi about this.
Do you have any advice on how to deal with the problem?

[2021-06-04 09:35] cbouzina commented on #47
I cannot explain the problem.
Please inform S3 PDGS that all S3B OLCI L1 products of 17 june 2018 seem corrupted.
Maybe these data are not really available because they come from commissioning phase ?

[2021-06-04 10:24] BogdanaTsonevska commented on #47
yes, I will. The commissioning should be the reason. we could put this as an explanation.

[2021-06-04 12:20] cbouzina commented on #47
Also, we shoud not forget about the necessary list of S3A_OL_1_CAL_AX (see mail exchange on 14 december 2020).
About the S3B_OL_1_CAL_AX list, I am not so sure anymore because the list I used is different from the one used in the OLCI reprocessing report. Therefore, if possible, ESA should provide both lists (S3A and S3B).

[2021-06-04 12:35] BogdanaTsonevska commented on #47
Please download from the LTA AIP the R03.
I have sent an email to S3 T.O. On the documentation baseline on 27/05. today I will send him a reminder.

[2021-06-04 12:56] BogdanaTsonevska commented on #47
sorry my email to you was returned:

Please download from the LTA AIP the R03.

[2021-06-11 13:27] cbouzina commented on #14
On 09 june 2021, ESA provided S2-PDGS-MPC-TN-20015.
This TN finally details all the necessary actions from S2-MPC to be performed before reprocessing campaign.
They are now well understood but not achieved. The necessary adapted GIPP files are not yet created.
There is still one possible question which is not addressed in the TN20015:
Are you sure about the validity starts of the existing R2EOB2,

[2021-06-11 13:28] cbouzina commented on #55
Closure in favor of ticket #14

[2021-06-11 13:28] #55 closed, assigned to nobody

[2021-06-11 14:00] BogdanaTsonevska commented on #14
Do you want me to ask this question to Valentina or internally you will manage to obtain it?
Regards,
Bogdana

[2021-06-11 14:13] yannick-peyrotau commented on #14
Internally they are checking this 3 files. (this is linked to history of damaged pixels and reselectionned)
It is possible that some of them are too much.

We will make a meeting internally on Monday before asking to valentina.

[2021-06-28 13:38] cbouzina commented on #53
OK. Many thanks.

[2021-06-28 13:38] #53 closed, assigned to BogdanaTsonevska

[2021-06-30 13:08] nmeskini opened #59 "Task 3 for S3SYN mission"
Hi Bogdana,
As requested, the Task 3 service needs level 0 products names to be working, this causes an issue with S3SYN mission that  is based on the level 1 products OLCI and SLSTR ( there is no L0 for S3SYN ) .

We suggest to use OLCI L0 products names for S3SYN mission, since names of L0 products are only used to retrieve the validity start and validity stop.
With other parameters, mission,uni

[2021-09-09 13:32] cbouzina commented on #19
Dear Bogdana,
I am still confused about this topic, could you please confirm ESA decision concernig SR_CHDRAX :
"SR___CHDRAX are not available and not necessary for now"
or
"S3A_SR___CHDRAX_20160216T000000_20991231T235959_20200312T120000___________________MPC_O_AL_006.SEN3
and S3B_SR___CHDRAX_20180425T000000_20991231T235959_20200312T120000___________________MPC_O_AL_005.SEN3
are missing and should

[2021-09-09 14:00] cbouzina commented on #19
Dear Bogdana,
after further investigation, it seems that indeed SR_CHDRAX are not used in PDGS and not mentioned in S3 SRAL products, so probably they are not generated anymore by S3 MPC. So I guess we can keep the statement "SR___CHDRAX are not available and not necessary for now", and remove old SR_CHDRAX files from the data base Do you agree ?

[2021-09-09 14:33] BogdanaTsonevska commented on #19
Dear Catherine,
Yes, I agree.
Thank you.
Regards,
Bogdana

[2021-09-15 10:21] cbouzina commented on #19
List of missing ADF for Sentinel-3 :::

S3B_SR_1_CONMAX_20180425T000000_20991231T235959_20200722T120000___________________MPC_O_AL_004

S3__SL_2_LSTWAX_20000101T000000_20991231T235959_20151214T120000___________________MPC_O_AL_001
S3A_SL_2_FRPTAX_20160216T000000_20991231T235959_20191115T120000___________________MPC_O_AL_003
S3A_SL_2_LSTEAX_20160216T000000_20991231T235959_20170116T120000___________

[2021-09-15 13:48] cbouzina commented on #19
The confirmed list of missing ADF for Sentinel-3 is :::

S3__SL_2_LSTWAX_20000101T000000_20991231T235959_20151214T120000___________________MPC_O_AL_001
S3A_SL_2_FRPTAX_20160216T000000_20991231T235959_20191115T120000___________________MPC_O_AL_003
S3A_SL_2_LSTEAX_20160216T000000_20991231T235959_20170116T120000___________________MPC_O_AL_002
S3__SL_2_LSTVAX_20000101T000000_20991231T235959_20151214T1

[2021-09-16 08:05] cbouzina commented on #47
Just a reminder that we need the list of S3A and S3B OL_1_CAL necessary for reprocessing campaign.

[2021-11-02 10:35] cbouzina commented on #59
This is agreed and done.

[2021-11-02 10:35] #59 closed, assigned to BogdanaTsonevska

[2021-11-02 10:37] cbouzina commented on #58
The chosen and implemented solution is t1 = t0

[2021-11-02 10:37] #58 closed, assigned to BogdanaTsonevska

[2021-11-02 10:50] cbouzina commented on #57
The values from the TT provided by ESA have been added in the data base.
Note that the user cannot change them.
Only the administrator can modify these values in the data base.

[2021-11-02 10:51] cbouzina commented on #56
The same user account can use all the services.

[2021-11-02 10:51] #56 closed, assigned to BogdanaTsonevska

[2021-11-02 10:55] cbouzina commented on #52
It is decided that any subscription is possible for any user account. Is it OK ?

[2021-11-02 10:57] cbouzina commented on #51
This is OK and agreed.

[2021-11-02 10:57] #51 closed, assigned to BogdanaTsonevska

[2021-11-02 11:00] cbouzina commented on #54
This is done and all OK for S1.

[2021-11-02 11:54] cbouzina commented on #50
Dear Naceur,
could you please add this information in RPP-API-0014-CS_Reprocessing_Data_Baseline_API_ICD ?
Counting method and Max per user account.
Thanks

[2021-11-02 12:02] cbouzina commented on #49
After checking several S1 products, I could not find any manifest file where these tags are empty.
So this is a rare problem, which is anyway under ESA responsibility.
Therefore, this is out of the scope of this activity.

[2021-11-02 12:02] #49 closed, assigned to BogdanaTsonevska

[2021-11-02 12:06] cbouzina commented on #20
The frequency of the database updates through the retrieval of new files on LTA servers is monthly.
The retrieval of CAMS and ECMWF analysis files is performed weekly.
The retrieval of CAMS and ECMWF reanalysis files is performed in January and July every year.

[2021-11-02 12:18] cbouzina commented on #41
This is done. Thanks.

[2021-11-02 12:18] #41 closed, assigned to nobody

[2021-11-02 12:19] cbouzina commented on #39
This is done. Thanks.

[2021-11-02 12:19] #39 closed, assigned to nobody

[2021-11-02 13:16] #44 closed, assigned to BogdanaTsonevska

[2021-11-02 13:17] BenEsquis commented on #46
Clarified during a meeting

[2021-11-02 13:17] #46 closed, assigned to BogdanaTsonevska

[2021-11-02 13:17] #45 closed, assigned to BogdanaTsonevska

[2021-11-02 13:18] #29 closed, assigned to BogdanaTsonevska

[2021-11-02 13:18] #26 closed, assigned to nobody

[2021-11-02 13:18] #25 closed, assigned to nobody

[2021-11-02 13:18] #24 closed, assigned to nobody

[2021-11-02 14:54] cbouzina commented on #52
OK from ESA in progress meeting of today.

[2021-11-02 14:54] #52 closed, assigned to BogdanaTsonevska

[2021-11-02 15:12] cbouzina commented on #40
Done

[2021-11-02 15:12] #40 closed, assigned to nobody

[2021-11-08 09:45] cbouzina opened #60 "External users activity"
List all activities from external users in October and November 2021

[2021-11-15 15:16] nmeskini commented on #50
Dear all,

This information is already provided in the following AUXIP ICD document , see 2.7 Quotas section.
RRPP-API-0008-CS_Reprocessing_Auxiliary_Files_Interface.

Regards,

[2021-11-30 14:07] cbouzina commented on #20
IPF update is done.

[2021-11-30 14:07] #20 closed, assigned to BogdanaTsonevska

[2021-11-30 14:08] cbouzina commented on #43
IPF update is done.

[2021-11-30 14:08] #43 closed, assigned to nobody

[2021-11-30 14:11] cbouzina commented on #48
This is OK.

[2021-11-30 14:11] #48 closed, assigned to nobody

[2021-11-30 14:12] cbouzina commented on #50
Doc is OK.

[2021-11-30 14:12] #50 closed, assigned to nmeskini

[2021-11-30 14:13] cbouzina commented on #54
To be done for S2.

[2021-11-30 14:15] cbouzina commented on #57
This is OK.

[2021-11-30 14:15] #57 closed, assigned to BogdanaTsonevska

[2021-12-24 10:39] cbouzina commented on #60
Thanks for the log file covering Oct-Nov 2021

[2022-01-05 10:32] cbouzina commented on #19
mail from bogdana.tsonevska@esa.int on 10/11/2021:

[01:08] Nigel Houghton
S3B_OL_1_INS_AX_20180425T000000_20180617T235959_20180621T120000___________________MPC_O_AL_002.SEN3.zip
S3B_OL_1_CAL_AX_20180425T000000_20180617T235959_20180621T120000___________________MPC_O_AL_002.SEN3.zip
S3B_OL_1_EO_AX_20180425T000000_20180617T235959_20180621T120000__________________MPC_O_AL_002.SEN3.zip

These 3 produc

[2022-01-05 10:50] #60 closed

[2022-01-11 14:04] cbouzina commented on #19
All files have been retrieved on ACRI LTA.

[2022-01-11 14:04] #19 closed, assigned to nobody

[2022-01-12 08:04] cbouzina opened #61 "remove all ADF of old baselines from data base"
Mail from ESA TO on 03 jan 2022 requested the removal of ADF which are not in use anymore in new baselines.
This means that the attributes 'IPFversion' and 'baseline' are useless.

[2022-01-21 14:00] cbouzina opened #63 "missing S1B AUX_POEORB for 2021-02-06"
This orbit file is not available on CloudFerro LTA.

[2022-01-21 14:56] cbouzina commented on #63
Anomaly report is created on ESA CAMS:
https://cams.esa.int/browse/PDGSANOM-9443

[2022-02-03 15:46] cbouzina commented on #63
This missing file has been retrieved and ingested.

[2022-02-03 15:46] #63 closed, assigned to nobody

[2022-02-03 15:48] cbouzina commented on #14
The last missing S2 GIPP files have not yet been delivered.

[2022-02-09 07:52] cbouzina commented on #14
Still no delivery of the last S2 GIPP files.
Bogdana please, could you send a reminder to Valentina ?
S2-MPC prime is not CS anymore but ACRI.

[2022-02-14 15:09] cbouzina commented on #61
Done

[2022-02-14 15:09] #61 closed, assigned to cbouzina

[2022-03-10 09:20] cbouzina commented on #54
Coherence tests are OK for S1 and S2.

[2022-03-10 09:20] #54 closed, assigned to nobody

[2022-07-04 14:56] cbouzina commented on #14
All GIPP files for reprocessing campaign have been provided by S2-MPC.

[2022-07-04 14:56] #14 closed, assigned to BogdanaTsonevska